* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

.main-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header-container {
	width: 100%;
	height: 70px;
	background: #8BB8BD;
}

.section-container {
	display: flex;
	justify-content: center;
}

.div-container {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.block {
	width: 15%;
	height: 50px;
	background: #f09110;
	margin: 10px;
	text-align: center;
}

.footer-container {
	width: 100%;
	height: 70px;
	background: #8A6C02;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
	.block-none {
		display: none;
	}

	.block {
		width: 45%;
		flex: 1 0 auto;
	}

	.block-1 {
		order: 3;
	}

	.block-2 {
		order: 4;
	}

	.block-3 {
		order: 2;
	}

	.block-4 {
		order: 5;
	}

	.block-5 {
		order: 1;
	}
}